<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<head>
<title></title>
</head>
<body>
	<p>書籍一覧画面</p>
	<div id="disp">
				<a href="/book_list/list_input" class="button">書籍登録</a>

		<div th:if="${session.lists}">
			<table>
				<tr>
					<th>書籍ID</th>
					<th>書籍名</th>
					<th>著者</th>
					<th>発行日</th>
					<th>在庫</th>
					<th>ジャンル名</th>
					<th>更新</th>
					<th>削除</th>
				</tr>
				<tr th:each="book : ${session.lists}">
					<td th:text="${book.bookId}"></td>
					<td th:text="${book.bookName}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.publicationDate}"></td>
					<td th:text="${book.stock}"></td>
					<td th:text="${book.genre.genreName}"></td>
					<td><a th:href="@{/list_update_select/} +${book.bookId}">更新</a></td>
					<td><a th:href="@{/list_delete/} +${book.bookId}">削除</a></td>
				</tr>
				<form action="/book_list/insert" method="post" th:if="${flag ==1}"
					th:object="${insertForm}">
					<tr>
						<td><input class="id" type="number" name="bookId"></td>
						<td><input class="book"type="text" name="bookName"></td>
						<td><input class="alet" type="text" name="author"></td>
						<td><input class="alet" type="date" name="publicationDate"></td>
						<td><input class="id" type="number" name="stock"></td>
						<td><select name="genreId" class = "alet">
								<option th:each="list: ${session.genres}"
									th:selected="${list.genreId == genreId}"
									th:value="${list.genreId}" th:text="${list.genreName}"></option>
						</select></td>
						<td colspan="2"><span><input class="in" type="submit"
								value="登録"></span></td>
					</tr>
				</form>

				<form action="/book_list/update" method="post" th:if="${flag == 2}"
					th:object="${insertForm}">
					<tr>
						<td><input class="id" type="number" name="bookId" th:value="${update.bookId}"></td>
						<td><input class="book"type="text" name="bookName" th:value="${update.bookName}"></td>
						<td><input class="alet" type="text" name="author" th:value="${update.author}"></td>
						<td><input class="alet"  type="date" name="publicationDate" th:value="${update.publicationDate}"></td>
						<td><input class="id" type="number" name="stock" th:value="${update.stock}"></td>
						<td><select name="genreId"  class="alet">
								<option th:each="list: ${session.genres}"
									th:selected="${list.genreId == genreId}"
									th:value="${list.genreId}" th:text="${list.genreName}"></option>
						</select></td>
						<td colspan="2"><span><input class="in" type="submit"
								value="更新"></span></td>
					</tr>
				</form>
			</table>
			<p th:if="${msg}" class="error" th:text="${errMessage}"></p>
		</div>
		<br>
		<div id="msg" th:if="${session.lists == null}">
			<p class="error">該当する書籍は存在しません。</p>
			<a href="/book_list/list_disp">一覧表示に戻る</a>
		</div>

	</div>
</body>
</html>
