<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
    th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>ログイン画面</title>
</head>
<body>
  <p>管理者ログイン画面</p>
  <div id="main">
    <p>管理者IDとパスワードを入力してください。</p>
    <p class="error" th:text="${errMessage}"></p>
	<form action="/book_list/admin/login" method="post" th:object="${loginFormAdminWithValidation}">
       管理者ID：<input type="text" name="adminUserId" value = "0"/><br>
      パスワード：<input type="password" th:field="*{password}" /><br>
      <input type="submit" value="ログイン">
    </form>
  </div>
</body>
</html>
