<html xmlns:th="http://www.thymeleaf.org" />
<meta charset="UTF-8" />


<div id="header" th:fragment="layout-header">
	<h3>書籍一覧システム</h3>
	<div id = "logout">
		<span th:if="${session.user}">ようこそ、<span
			th:text="${session.user}"></span><br>
			<a href="/book_list/logout">ログアウト</a>
		</span>
	</div>
	<div id = "logout">
		<span th:if="${session.admin}">ようこそ、<span
			th:text="${session.admin}"></span><br>
			<a href="/book_list/logout">ログアウト</a>
		</span>
	</div>
</div>
</html>