<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<head>
<title></title>
</head>
<body>
	<p>書籍一覧画面</p>
	<div id="disp">
		<div id="serch">
			<form action="/book_list/list_disp_name" method="post">
				<span class="book_name">書籍名：<input class="name" type="text"
					name="bookName"> <input class="serch" type="submit"
					value="検索">
				</span>
			</form>

			<form class="genre" action="/book_list/list_disp_genre" method="post">
				<span class="book_genre"> ジャンル名：<select name="genreId">
						<option th:each="list: ${session.genres}"
							th:selected="${list.genreId == genreId}"
							th:value="${list.genreId}" th:text="${list.genreName}"></option>
				</select> <input class="serch" type="submit" value="検索">
				</span>
			</form>
		</div>


		<div th:if="${session.lists}">
			<table>
				<tr>
					<th>書籍ID</th>
					<th>書籍名</th>
					<th>著者</th>
					<th>発行日</th>
					<th>在庫</th>
					<th>ジャンル名</th>

				</tr>
				<tr th:each="book : ${session.lists}">
					<td th:text="${book.bookId}"></td>
					<td th:text="${book.bookName}"></td>
					<td th:text="${book.author}"></td>
					<td th:text="${book.publicationDate}"></td>
					<td th:text="${book.stock}"></td>
					<td th:text="${book.genre.genreName}"></td>
				</tr>

			</table>
			<p th:if="${msg}" class="error" th:text="${errMessage}"></p>
		</div>
		<br>
		<div id="msg" th:if="${session.lists == null}">
			<p class="error">該当する書籍は存在しません。</p>
			<a href="/book_list/list_disp">一覧表示に戻る</a>
		</div>

	</div>
</body>
</html>
