<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title},~{::body/content()})}">
<head>
<title>ユーザー登録</title>
</head>
<body>
	<p>ユーザー登録</p>
	<div id="main">
		<p>全ての項目を入力して下さい</p>
		<form action="/book_list/insert/user" method="post"
			th:object="${insertUserForm}">
			 <p class="error" th:text="${errMessage}" ></p>
				<p th:errors="*{bookUserId}"></p><p th:errors="*{bookUserName}"></p><p th:errors="*{password}"></p>

			ユーザーID：<input type="text" th:field="*{bookUserId}" /><br>
			 ユーザー名：<input type="text" th:field="*{bookUserName}">
			パスワード：<input type="password" th:field="*{password}" /><br>
			確認パスワード：<input type="password" th:field="*{password2}"> <input
				type="submit" id="btn" value="登録">
		</form>
	</div>
	<script>
		var btn = document.getElementById('btn');

		btn.addEventListener('click', function() {

			if (window.confirm('この内容で登録しますか？')) {

			}
			;

		})
	</script>

</body>
</html>
